.main-search {
  width: 100%;
  height: 100%;
  background: #f5f4f3;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1%;
}


.div2 > div{

  border-radius: 5px;
}
.main-search > div{
  border-radius: 5px;
}
.main-search .div1,
.div2 {
  border-radius: 5px;
  width: 40%;
  /* border: 1px solid blue; */
  height: 65%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.main-search p {
  font-size: 1.05em;
  color: rgb(80, 80, 80);
}

.main-search ion-icon {
  height: 47%;
  /* width: 20%; */
  
  color: rgb(80, 80, 80);
}

.div2 .check {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8%;
}

.main-search input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  /* height: 56px; */
  /* padding: 15px 16px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #292929;
}

.check{
  font-size: 22px;
}

.div1,
.div3 {
  border: 1px solid grey;
}

.div3 {
  gap: 8%;
}

.div3 {
  width: 15%;
  /* border: 1px solid blue; */
  height: 65%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#button-search {
  background: #245abc;
  justify-content: center;
  border-radius: 100px;
  text-decoration: none;
  border: none;
}

.div2 .check,
.div3 {
  padding-left: 3%;
}

.div2 input,
.div3 input {
  cursor: pointer;
}

#button-search {
  cursor: pointer;
  /* border: 1px solid red; */
  width: 15%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#button-search .link,
#button-search ion-icon {
  color: white;
}
.link{
  text-decoration: none;
  font-weight: 600;
 
}

#button-search p {
  font-size: 1.2em;
}

#button-search:hover {
  background: #0c398d;
  transition: 0.5s;
}

.search-results {
  background-color: white;
  /* color: red; */
  width: 25%;
  /* padding: 0 3%; */
}
.search-results :hover   {
  background-color: #245abc;
  color: white;
}
.search-results :hover p{
  color: white;
}
.search-results :hover h3{
  color: white;
}
.search-results  h3{
  color: #245abc;
  margin: 0;
  padding: 0 5%;
}

.search-results p{
  color: #5e6d77;
  padding: 5% 5%;
}