.Register-box{
    font-family: "FreightSansLF Pro", "Noto Sans JP", "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Segoe UI", Tahoma, -apple-system, Roboto, sans-serif;
}

Sign-in-box,
.Register-box {
    
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
.Register-box > h2{
    
    font-size: 1.5rem;
    padding: 10px 5%;
}

.Sign-in-box > p,
.Register-box > p {
  align-self: center;
  font-size: 0.875rem;
}

/* .Input-boxes {
  padding: 1rem;
  margin: 1%;
  border-radius: 0.5rem;
  border: 1px solid #999999;
} */
.Input-boxes-R {
    width: 80%;
    align-self: center;
  padding: 1.2rem;
  margin-bottom: 6%;
  border-radius: 0.3rem;
  border: 1px solid #999999;
}
.Input-boxes-R::placeholder{
    font-size: 16px;
}

#Sign-in-button,
#Continue-button {
    width: 80%;
    align-self: center;
  padding: 1.15rem;
  border-radius: 1.35rem;
  background-color: #97afde;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}
.Register-box p{
    width: 80%;
}

.Continue-with > img {
  width: 15%;
}
.Continue-with {
  border: 1px solid transparent;
  display: flex;
  width: 30%;
  margin: auto;
  /* gap:1rem; */
  justify-content: space-between;
}

.loader {
  margin-top: 20%;
  margin-left: 45%;
}
